@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "reset.css";
@import "status-bar.css";

body {
  font-family: "Open Sans", sans-serif;
}

.welcome-header {
  margin-top: 70px;
  margin-bottom: 90px;
  text-align: center;
}
.welcome-header__title {
  margin-bottom: 25px;
  font-size: 22px;
  font-weight: 600;
}
.welcome-header__text {
  opacity: 0.6;
}
