@import "reset.css";
@import "status-bar.css";

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
}

.welcome-header {
  margin: 68px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-header__title {
  margin-bottom: 28px;
  font-size: 23px;
}
.welcome-header__text {
  width: 60%;
  opacity: 0.5;
  font-size: 16px;
}
