.find-icons {
  display: flex;
  justify-content: space-between;
}

.find-icons__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 25px;
}
.find-icons__icon i {
  font-size: 28px;
}

.find-icons__icon span {
  margin-top: 30px;
}

.recommended-friends {
  margin: 10px 0px;
  padding: 25px 0px;
  border-bottom: var(--main-border);
  border-top: var(--main-border);
}

.recommended-friends__title {
  font-size: 14px;
  color: var(--gray-color);
}

.recommended-friends span {
  color: var(--gray-color);
  display: block;
  margin: 85px 0;
  text-align: center;
}
