.find-icons {
  display: flex;
  justify-content: space-between;
}

.find-icons__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 25px;
}
.find-icons__icon i {
  font-size: 28px;
}

.find-icons__icon span {
  margin-top: 30px;
}

.recommended-friends {
  margin: 10px 0px;
  padding: 25px 0px;
  border-bottom: var(--main-border);
  border-top: var(--main-border);
}

.recommended-friends__title {
  font-size: 14px;
  color: var(--gray-color);
}

.recommended-friends span {
  color: var(--gray-color);
  display: block;
  margin: 85px 0;
  text-align: center;
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  color: var(--gray-color);
  opacity: 0.9;
  font-size: 14px;
  margin-bottom: 20px;
}

.open-chat__header span {
  opacity: 0.7;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.open-post__title {
  margin-bottom: 7px;
  font-size: 18px;
}

.open-post__hashtags {
  text-transform: uppercase;
  opacity: 0.6;
  font-size: 15px;
}

.open-post__members {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.open-post__members img {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-right: 5px;
}

.open-post__member-count {
  opacity: 0.5;
  font-size: 14px;
}

.open-post__members .divider {
  width: 1px;
  height: 15px;
  margin: 0 5px;
  background-color: rgba(0, 0, 0, 0.4);
}

.open-post__member-status {
  color: #ff5abd;
}

.open-post__photo {
  position: relative;
}

.open-post__photo img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.open-chat__heart-count {
  background-color: rgba(0, 0, 0, 0.35);
  color: white;
  border-radius: 30px;
  padding: 4px 10px;
  font-size: 13px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 7px;
  right: 7px;
}

.open-chat__heart-count span {
  margin-left: 3px;
}
