#friends-display-link {
  display: block;
  text-align: center;
  background-color: #fafafa;
  padding: 12px 0;
  margin-bottom: 10px;
  margin-top: -10px;
}
#friends-display-link i {
  color: rgba(0, 0, 0, 0.15);
}
.friends-screen {
  padding: 0 var(--horizontal-space);
}
.friends-screen__channel {
  margin-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 15px;
}
.friends-screen__channel-header {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
}
