.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 10px;
}
.screen-header__title {
  font-size: 28px;
  font-weight: 650;
}
.screen-header__icons span {
  margin-left: 20px;
}
.screen-header__icons {
  position: relative;
}
.screen-header__icons-notification {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  position: absolute;
  right: -5px;
  bottom: 20px;
}
