.user-component {
  justify-content: space-between;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}
.user-component__avatar {
  width: 60px;
  height: 60px;
  border-radius: 23px;
}
.user-component__title {
  font-size: 18px;
  font-weight: 650;
  margin-left: 20px;
}
.user-component__subtitle {
  margin-top: 10px;
  margin-left: 20px;
  color: rgba(0, 0, 0, 0.4);
  font-size: 15px;
}
.user-component__avatar--xl {
  width: 70px;
  height: 70px;
}
.user-component__avatar--sm {
  width: 50px;
  height: 50px;
  border-radius: 18px;
}
.user-component__title--not-bold {
  font-weight: 550;
}
.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.user-component__time {
  margin-bottom: 10px;
  display: block;
}
